# Created by .ignore support plugin (hsz.mobi)
src/main/resources/applicationContext-http.xml
src/main/resources/config.properties
src/main/resources/applicationContext.xml
src/main/resources/global_merged.properties
src/main/resources/biz-async-task.xml
src/main/resources/applicationContext-cache.xml
src/main/resources/applicationContext-db.xml
src/main/resources/log4j2.xml
src/main/resources/jmonitor.properties
src/main/resources/thrift-client.xml
src/main/resources/thrift-server.xml
src/main/webapp/WEB-INF/spring-mvc.xml
src/main/webapp/WEB-INF/web.xml
src/main/resources/jetty/

.idea
*.iml
logs
target
coverage-report
*.DS_Store
